
a.logo {
   font-family: "Noto Sans KR", sans-serif;
   font-size: 35px;
   font-weight: bold;
   color:white;
}

.elementor-19 .elementor-element.elementor-element-df092b1 .elementor-nav-menu--main .elementor-item {
   color: var(--e-global-color-secondary);
   fill: var(--e-global-color-secondary);
   font-family: "Noto Sans KR", sans-serif;
   font-size: 20px;
}

.elementor-15 .elementor-element.elementor-element-747f978 .elementor-heading-title {
   color: var( --e-global-color-secondary );
   font-family: "Noto Sans KR", sans-serif;
   font-size: 100px;
   font-weight: 400;
   line-height: 110%;
   letter-spacing: -0.3px;
   mix-blend-mode: color-dodge;
}

.elementor-button span {
   text-decoration: inherit;
   font-family: "Noto Sans KR", sans-serif;
}

.elementor-15 .elementor-element.elementor-element-22703a6 .elementor-heading-title {
   color: var( --e-global-color-secondary );
   font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
   font-size: var( --e-global-typography-primary-font-size );
   font-weight: var( --e-global-typography-primary-font-weight );
   line-height: var( --e-global-typography-primary-line-height );
   font-family: "Noto Sans KR", sans-serif;
}

/* Modal background (hidden by default) */
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
}

/* Modal content */
.modal-content {
   font-family: "Noto Sans KR", sans-serif;
   background-color:transparent;
   margin: 15% auto;
   padding: 10px;
   border: 2px solid white;
   width: 80%;
   max-width: 600px;
   height: 300px;
   border-radius:7px;
   color:white;
   animation: fadeIn 1s;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.5);
   } to {
      opacity: 1;
      transform: scale(1);
   }
}


.modal-head {
   text-align: right;
   color:white;
   text-shadow: 3px 2px rgb(141, 141, 141);
}

.elementor-kit-5 h2 {
   color:white;
   font-family:"Noto Sans KR", sans-serif;
   font-size: var(--e-global-typography-primary-font-size);
   font-weight: var(--e-global-typography-primary-font-weight);
   line-height: var(--e-global-typography-primary-line-height);
}

.modal-content h3 {
   display: block;
   margin-top: 20px;
   color:white;
   font-family: "Jua", sans-serif;

}

.modal-content hr {
   margin-bottom: 30px;
}

.modal-content span {
   font-size: 36px;
   color:white;
   font-family: "Jua", sans-serif;
   padding-left:30px;
}




/* Close button */
.close-btn {
   color: #aaa;
   font-size: 28px;
   font-weight: bold;
   position: absolute;
   top: 0;
   right: 10px;
   cursor: pointer;
   display: none;
}

.close-btn:hover,
.close-btn:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}